#Indicates this is lombok config root directory
config.stopBubbling = true
#Ensures that Jacoco does not include lombok generated code in test coverage reports
lombok.addLombokGeneratedAnnotation = true
#Exception type to return for @NonNull checks
lombok.nonNull.exceptionType = IllegalArgumentException
#Setting to create a fluent api whilst following the java bean specification
lombok.accessors.chain=true
# Copy the Qualifier annotation from the instance variables to the constructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier